/* .chatForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.chatInput {
  display: inline-block;
  flex-grow: 1;
}

.mainBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 1000px;
  
  
}

.error {
  color: red;
  font-size: small;
} */


.chatBox {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  overflow: scroll;
  margin: 20px 0;
}